<p>Overview!</p>

<p>test_var: {{ name }}</p>

<a href="{{ path('image_tools.show_convertible_pngs') }}">{{ 'Display Convertable PNGs'|t }}</a>

<a href="{{ path('image_tools.show_resizeable_jpgs') }}">{{ 'Display Resizable JPGs'|t }}</a>